body{
  background-color: #121212;
}

#login{
  background-image: url('../img/login.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}



#name{
  text-align: center;
  margin: center auto;
}

#email{
  text-align: center;
  margin: center auto;
}

#passwort{
  text-align: center;
  text-color: white;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color:#fed136;
    margin-bottom: 25px;
    text-shadow: 0 0 20px black;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.socialmediabutton{

  border: none;
  background-color: inherit;

}
.icon{
width: 100px;
}
.icon img{
  border-radius: 50%;
  margin-left: 0px 0px 0px 30px;
  width: 100px;
  height: 100px;
}
#socialmediaicon{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
}
#beerlist{
    text-align: left;
    margin: 5px;
    padding: 0px;

}
.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
}
#portfolio_team{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #121212;
}


.service-heading {
    margin: 15px 0;
    text-align: left;
    text-transform: none;
    color: white;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: white;
}

.topnav {
  background-color: #333;
  overflow: visible;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: none;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
