body{
  background-color: #121212;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color:#fed136;
    margin-bottom: 25px;
    text-shadow: 0 0 20px black;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
<<<<<<< HEAD
#icons{
  float: clear;
}
=======

.icon{
width: 100px;
    }

.icon img{

margin-left: 0px 0px 0px 30px;
width: 100px;
height: 100px;
}

>>>>>>> ab51ad4c3cee976e09b6ffc7a109498c3205f667
#beerlist{
    text-align: left;
    margin: 5px;
    padding: 0px;

}
.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
}
#portfolio_team{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #121212;
}


.service-heading {
    margin: 15px 0;
    text-align: left;
    text-transform: none;
    color: white;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: white;
}
