body{
  background-color: #121212;
}

#login{
  background-image: url('../img/login.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}

#name{
  text-align: center;
  margin: center auto;
}

#passwort{
  text-align: center;
  text-color: white;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color:#fed136;
    margin-bottom: 25px;
    text-shadow: 0 0 20px black;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.socialmediabutton{

  border: none;
  background-color: inherit;

}
.icon{
width: 100px;
}
.icon img{
  border-radius: 50%;
  margin-left: 0px 0px 0px 30px;
  width: 100px;
  height: 100px;
}
#socialmediaicon{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
}



#beerlist{
    text-align: left;
    margin: 5px;
    padding: 0px;

}
.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
}
#portfolio_team{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #121212;
}


.service-heading {
    margin: 15px 0;
    text-align: left;
    text-transform: none;
    color: white;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: white;
}
