body{
background-color: darkred;
color: #DAA520;
}

@font-face {
    font-family: Oktoberfest;
    src: url(Oktoberfest.ttf);
}
div {
margin top: -20px;
width: auto;
border: 10px solid #DAA520;
padding: auto;
}
h0{
  margin-left: 20px;
  font-size: 140px;
  font-family: Oktoberfest;
}
img{
  margin: 10px;
}


<!---------------------Button--------------------->

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button{
  display: inline-block;
  border-radius: 4px;
  background-color: darkgreen;
  border: 2px solid black;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 8%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5.5px;
}
