
body{
background-color: darkred;
color: #DAA520;
}
div {
margin top: -20px;
width: auto;
border: 10px solid #DAA520;
padding: auto;
}
h0{
  margin-left: 20px;
  font-size: 88px;
  font-style: verdana;

}
ul {

}
